@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #b4da55;
  font-family: "Playpen Sans", cursive;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

h1 {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  margin: 0 auto;
  padding: 5em 2.5em;
}

.gallery__beast {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.gallery__beast > h2 {
  text-align: center;
}

.gallery__beast > img {
  aspect-ratio: 1;
  border: 1em solid saddlebrown;
  border-radius: 0.66em;
  display: block;
  height: 20rem;
  margin: 1em auto;
  object-fit: cover;
  z-index: -1;
}

.gallery__beast > p {
  line-height: 1.5;
  max-width: 60ch;
}

.beast__fav-button {
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("./assets/Heart-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  height: 80px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

footer {
  text-align: center;
}
