@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.prevent-scrolling {
  /* https://stackoverflow.com/a/12090055 */
  height: 100dvh;
  position: fixed;
  width: 100dvw;
  overflow: hidden;
}

body {
  background-color: #b4da55;
  color: saddlebrown;
  font-family: "Playpen Sans", cursive;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

h1 {
  cursor: pointer;
  font-size: 5rem;
  margin: 0;
  text-align: center;
  user-select: none;
}

h1.styled {
  transform: rotate(180deg);
}

form {
  margin: 0 auto;
  width: fit-content;
}

.gallery {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(min(25em, 100%), 1fr));
  margin: 3em auto;
  width: calc(100% - 5em);
}

.form__inputs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.form__inputs > label {
  display: flex;
  gap: 1em;
}

.form__inputs input,
.form__inputs select {
  border: 0;
  border-radius: 1000em;
  padding: 0.5em;
}

.form__inputs input:focus,
.form__inputs select:focus {
  outline-color: chocolate;
}

.form__buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}

.form__buttons > button {
  background-color: skyblue;
  border: 0;
  border-radius: 1000em;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 700;
  padding: 1em 2em;
  text-transform: uppercase;
  width: 10em;
}

.form__buttons > button:is(:hover, :focus-visible) {
  scale: 0.95;
}

.form__buttons > button:last-of-type {
  background-color: tomato;
}

.gallery__beast {
  align-items: center;
  background-color: pink;
  border-radius: 1em;
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 100%;
}

.gallery__beast > header {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
}

.beast__fav-button {
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("./assets/Heart-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  height: 80px;
  padding: 0;
}

.gallery__beast > img {
  aspect-ratio: 1;
  border: 1em solid bisque;
  border-radius: 0.66em;
  display: block;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

.gallery__beast > p {
  align-self: start;
  line-height: 1.5;
  max-width: 60ch;
  text-align: center;
}

footer {
  cursor: pointer;
  text-align: center;
  user-select: none;
}

footer > p.styled {
  color: hotpink;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.beast__modal {
  background-color: hsla(0, 0%, 0%, 0.7);
  border: 0;
  color: #fff;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.beast__modal > h3 {
  margin: 0 auto;
  width: fit-content;
}

.beast__modal > button {
  aspect-ratio: 1;
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  height: 50px;
}

.beast__modal > img {
  margin: auto;
  max-height: 75dvh;
  min-width: 50dvw;
  object-fit: cover;
}

.beast__modal > p {
  margin: 0 auto;
  width: fit-content;
}
